
<h1> Hello world</h1>

{% schema %}
{
    "name": "Add heading",
    "settings": [
    {
        "id": "heading",
        "type": "text",
        "label": "A refrence for shopify liquid"
    }],
    "presets": [
      {
        "name": "custom-text",
        "category": "Custom"
      }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}